// Color ligt mode

$color-primary: #0079ff;
$color-secondary: #697c9a;
$color-3: #4b6a9b;
$color-4: #2b3442;
$color-5: #f6f8ff;
$color-6: #fefefe;
$color-bg: #f2f2f2;

// color-dark mode
$color-white: #fff;
$color-dark: #141d2f;
$color-tgray: #1e2a47;
$color-logo: #222731;
// fonts

$site-fonts: "Space Mono", "Arial", sans-serif;
